<div class="container text-center">
<h1>Mett the team</h1>

    <%= cl_image_tag "tospent740ntyiuk15vu", height: 200 %>
  <ul>
    <%= @members.each do |member| %>
    <li>Member: <%= member %> </li>
    <% end %>

</ul>

</div>
